* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Misto';

    src: url('fonts/Misto.woff') format('woff'),

}

body {
    margin: 0 auto;
    background-color: #fff7f7;
}

button {
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    border: 2px solid #2e2d2d;
}

footer {
    background-color: #000000;
}

form {
    text-align: center;
}

h2 {
    font-family: 'Misto', serif;
    font-weight: normal;
    font-size: 40px;
    margin-left: 10px;
}

h3 {
    color: #2e2d2d;
    font-family: 'Lato', 'sans-serif';
    font-weight: 700;
}

h3 a:link {
    color: #2e2d2d;
    text-decoration: none;
}

h3 a:visited {
    color: #2e2d2d;
    text-decoration: none;
}


nav {
    background-color: #2e2d2d;
    font-family: 'Lato', sans-serif;
    top: 0%;
    left: 0%;
}

nav a:link,
a:visited {
    text-decoration-line: none;
    color: #fff7f7;
    padding: 9px;


}


nav a:hover {
    text-decoration-line: underline;
    background-color: #fff7f7;
    color: #2e2d2d;
    margin: 0 auto;

}

img {
    filter: url(filters.svg#grayscale);
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .4s ease-in-out;
}

img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

li {
    display: inline-block;
    height: 40px;
}

label,
input {
    font-family: 'Lato', 'Sans-serif';
    font-size: 16px;

}

p {
    font-family: 'Lato', 'sans-serif';

}



span+span {
    display: block;
    margin: 10px;
}

ul {
    float: right;
}

.button-home {
    width: 200px;
}

.button-home a:hover {
    background-color: none;

}

.footer {
    background-color: #2e2d2d;
    color: #fff7f7;
    margin-top: 20px;
}

.home-svg {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.ig-speaker {
    width: 12.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.speakerphoto {
    width: 80%;
    display: block;
    margin: 0 auto;

}

.speakerinfo {
    vertical-align: top;
    width: 90%;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.speaker-bio {
    font-family: 'Lato', 'sans-serif';
    font-size: 16px;
    width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

.speaker-name {
    text-align: center;
}


.details {
    display: inline-block;
    margin: 0 auto;

}

.time-slot {
    border-top: 3px solid #2e2d2d;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
}

.time-slot:hover {
    background-color: #2e2d2d;
    color: #fff7f7;
    border-top: 3px solid #fff7f7;
}

.time-slot:hover h3 {
    color: #fff7f7;
}

.time-slot:hover a {
    color: #fff7f7;
}



.schedule {
    padding: 20px;
    font-family: 'Lato', sans-serif;

}


.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
}

.ticket-button {
    color: #000000;
    ;
    display: inline-block;
    margin: auto;
    padding: 6px;
    width: 50%;
    min-width: 120px;
    text-transform: uppercase;
}

.ticket-button:hover,
.ticket-button:focus {
    background-color: #2e2d2d;
    color: #fff7f7;

}

.ticket-input:checked+.ticket-button {
    background-color: #2e2d2d;
    color: #fff7f7;

}

.ticket-selection {
    text-transform: uppercase;
}

.top-button {
    font-family: 'Lato', 'sans-serif';
    color: #fff7f7;
    text-decoration: none;
}

input[type=number],
input[type=email],
input[type=text] {

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff7f7;
    border-bottom: 1px #2e2d2d solid;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 5px;
    padding-bottom: 0;
    width: 95%;
}



input[type=number]:focus,
input[type=email]:focus,
input[type=text]:focus {
    background-color: #2e2d2d;
    color: #fff7f7;
}

input[type=submit] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid #2e2d2d;
    padding: 5px;
    text-transform: uppercase;
    width: 50%;
    background-color: #2e2d2d;
    color: #fff7f7;

}

input[type=submit]:hover {
    border: 2px solid #fff7f7;
}

input[type=submit]:checked {
    border: 2px solid #785776;
}


@media (min-width:540px) {

    .speakerphoto {
        width: 30%;
    }

    .speaker-bio {
        width: 70%;
        font-size: inherit;
    }

    .ig-speaker {
        width: 50px;
    }

}

@media (min-width:375px) {



    fieldset {
        min-width: 210px;
    }

    .speakerphoto {
        width: 50%;
    }

    .speaker-bio {
        width: 50%;
        font-size: inherit;
    }

    .details {
        display: block;
        padding-bottom: 5px;
    }


    .ig-speaker {
        width: 50px;
    }

    nav a:link {
        color: #2e2d2d;

    }
}
